# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/

# Environment variables / secrets
.env
.env.*

# MacOS
.DS_Store

# Streamlit
.streamlit/

# Output / runtime files
*.csv
batch_checkpoint.json

# Logs
*.log

# VSCode / IDE
.vscode/
.idea/
``
